.container {
    background-color: #EEEEEE;
    width: 600px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 10px;
    /* position: relative; */
}

.sections {
    border: 1px solid rgba(75, 73, 66, 0.384);
    margin: 10px;
}

#AO {
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.caption {
    background-color: #DDDDDD;
    display: block;
    margin: inherit;
    height: 30px;
    padding-top: 15px;
}

.list {
    text-align: left;
}

a::selection {
    color: aqua;
}

.container1 {
    text-align: left;
    background-color: white;
    margin-top: 10px;
    position: absolute;
}